<!--  наследуемся от шаблона default.html, который мы создавали для flatpages -->
{% extends 'flatpages/default.html' %}

{% block title %}
Новости категории
{% endblock title %}

{% load custom_filters %}

<!-- Подключаем новый файл с нашим тегом -->
{% load custom_tags %}

<!-- В контенте на странице мы выводим все товары -->
{% block content %}
<h1>Все посты категории {{category}}</h1>
   <!-- Используем переданную из представления переменную time_now
   и применяем к ней фильтр date. По назначению этот фильтр очень похож
   на метод strftime у объекта datetime в Python — вывод времени
   в указанном формате. -->
   <!-- <h3>Добавленное поле</h3>
   <h3>{{ time_now|date:'d M Y' }}</h3>
   <h3>Добавленный тег</h3>
   <h3>{% current_time '%b %d %Y' %}</h3> -->
    <!-- Если в переменной next_sale будет None,
   то выведется указанный в фильтре текст -->

   <hr>
<!-- Выводим новости, только если они есть с помощью тега if -->
{% if news_category %}
{% if is_not_subscriber %}
        <p class="text-center"><a href="{% url 'news_subscribe' category.id %}" class="btn btn-secondary btn-sm">Подписаться на категорию</a></p>
{% endif %}
<table class="table">
    <tr>
        <!-- <th>ID</th> -->
        <th>Тип</th>
        <th>Заголовок</th>
        <th>Дата публикации</th>
        <th>Текст</th>
        <th>Категории</th>
    </tr>


    {% for neww in news_category %}
    <tr>
        <!-- <td><a href="/news/{{neww.id}}"> {{neww.id }}</a></td> -->
        <td>{{ neww.get_post_type_display}}</td>
        <td><a href="{% url 'news_detail' neww.id %}">{{ neww.head | censor | censor:"Sword"}}</a></td>
        <td>{{ neww.time_create | date:'d M Y'}}</td>
        <td>{{ neww.text|truncatechars:20 }}</td>
        <td>{% for category in neww.category.all %}
            <a href="{% url 'news_category' category.id %}" class="btn btn-info"> {{category}} </a>
        {% endfor %}
        </td>

    </tr>
    {% endfor %}

</table>

{# Добавляем пагинацию на страницу #}

{# Информация о предыдущих страницах #}
{% if page_obj.has_previous %}
    <a href="?page=1">1</a>
    {% if page_obj.previous_page_number != 1 %}
        ...
        <a href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
    {% endif %}
{% endif %}

{# Информация о текущей странице #}
{{ page_obj.number }}

{# Информация о следующих страницах #}
{% if page_obj.has_next %}
    <a href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
    {% if paginator.num_pages != page_obj.next_page_number %}
        ...
        <a href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
    {% endif %}
{% endif %}

{% else %}
    <!-- Если новостей нет, говорим, что новостей нет ;) -->
    <h2>Новостей нет!</h2>
{% endif %}
<p></p>
<div>
{% if perms.news.add_post %}
<a href="{% url 'news_create' %}" class="btn btn-primary">Create news</a>
{% endif %}
</div>
{% endblock content %}
