<!--  наследуемся от шаблона default.html, который мы создавали для flatpages -->
{% extends 'flatpages/default.html' %}

{% block title %}
Новость
{% endblock title %}

{% load custom_filters %}

{% block content %}
<h1>Новость</h1>
<dl class="row">
    <dt class="col-sm-3">Автор:</dt>
    <dd class="col-sm-9">{{ neww.author.auth_user.username }}</dd>
    <dt class="col-sm-3">Дата создания:</dt>
    <dd class="col-sm-9">{{ neww.time_create | date:'d M Y' }}</dd>
    <dt class="col-sm-3">Тип:</dt>
    <dd class="col-sm-9">{{ neww.get_post_type_display }}</dd>
    <dt class="col-sm-3">Заголовок:</dt>
    <dd class="col-sm-9">{{ neww.head | censor | censor:"Санитарным" |censor:"Sword"}}</dd>
    <dt class="col-sm-3">Содержание:</dt>
    <dd class="col-sm-9">{{ neww.text | censor | censor:"Санитарным"|censor:"lorem"}}</dd>
    <dt class="col-sm-3">Категории:</dt>
    <dd class="col-sm-9">
        {% for cat in neww.category.all %}
        {{cat.name}},
        {% endfor %}</dd>
</dl>
{% if perms.news.delete_post %}
<a href="{{ neww.id }}/delete/" class="btn btn-danger">Delete</a>
{% endif %}
{% if perms.news.change_post %}
<a href="{{ neww.id }}/update/" class="btn btn-primary">Update</a>
{% endif %}
{% endblock content %}
